<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalcService" />
                <binding name="BasicHttpsBinding_ICalcService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://w38ex2soapcalc.azurewebsites.net/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalcService"
                contract="ServiceRefrenceCalc.ICalcService" name="BasicHttpBinding_ICalcService" />
            <endpoint address="https://w38ex2soapcalc.azurewebsites.net/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICalcService"
                contract="ServiceRefrenceCalc.ICalcService" name="BasicHttpsBinding_ICalcService" />
        </client>
    </system.serviceModel>
</configuration>